numpy
torch
nltk

# selective installations:
# PyYAML  # only if you want to use set_local_vars_from_yaml
# hanlp  # only if you want to use functions in nlp_metrics.py
# tensorflow  # only if you want to functions in tf_misc.py
# git+https://github.com/Mohan-Zhang-u/py-rouge.git  # only if you want to use functions in nlp_metrics.py
# git+https://github.com/Mohan-Zhang-u/simple-pid.git  # only if you want to use PIDModel
